<form [formGroup]="form" (ngSubmit)="changePassword()" >
    <label for="oldPassword">Old Password</label>
    <input 
        formControlName="oldPassword"
        type="password"
        id="oldPassword"
        class="form-control">
        <div *ngIf="form.get('oldPassword')?.touched && form.get('oldPassword')?.invalid" class="alert alert-danger">
            <div *ngIf="form.get('oldPassword')?.errors?.required">Old Password is required.</div>
            <div *ngIf="form.get('oldPassword')?.errors?.isNotOldPassword">Old Password is not valid.</div>
        </div>
    <label for="newPassword">New Password</label>
    <input 
        formControlName="newPassword"
        type="password"
        id="newPassword"
        class="form-control">
    <div *ngIf="form.get('newPassword')?.touched && form.get('newPassword')?.invalid" class="alert alert-danger">
        <div *ngIf="form.get('newPassword')?.errors?.required">New Password is required.</div>
    </div>

    <label for="confirmPassword">Confirm Password</label>
    <input 
        formControlName="confirmPassword"
        type="password"
        id="confirmPassword"
        class="form-control">
    <div *ngIf="form.get('confirmPassword')?.touched && form.get('confirmPassword')?.invalid && form.get('confirmPassword')?.errors?.required" class="alert alert-danger">Confirm Password is required.</div>
    <div *ngIf="form.get('confirmPassword')?.touched && !form.get('confirmPassword')?.invalid && form.errors?.passwordsDontMatch" class="alert alert-danger">Passwords don't match.</div>

    <button class="btn btn-primary">Change Password</button>
</form>